/* NAVBAR */

@media (max-width: 480px) {
  .nav-home,
  .nav-book,
  .nav-about,
  .nav-contact {
    grid-row: 2;
    margin: 10px 0px;
  }

  .logo {
    grid-column: 1 / span 11;
    width: 100%;
    text-align: center;
  }

  .nav-home {
    grid-column: 4;
  }

  .nav-book {
    grid-column: 5;
  }

  .nav-restaurant {
    grid-column: 6;
  }

  .nav-about {
    grid-column: 7;
  }

  .nav-contact {
    grid-column: 8;
  }
}

/* HOME PAGE */

@media (max-width: 480px) {
  .room-type {
    height: fit-content;
  }

  #room-type-one {
    grid-column: 2 / span 3;
    grid-row: 1;
  }

  #room-type-two {
    grid-column: 2 / span 3;
    grid-row: 2;
  }

  #room-type-three {
    grid-column: 2 / span 3;
    grid-row: 3;
  }
}
