* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #cc6633;
  --primary-light-color: #d17547;
  --secondary-color: #82774b;
  --tertiary-color: #f5f6f6;
  --quarternary-color: #000000;
  --quintery-color: #a3a48f;
  --main-font: font-family, "Inria Sans", Sans;
  --title-font: font-family, "Inria Serif", Serif;
}

p {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

a {
  font-family: var(--main-font);
}

/* Nav Bar */
.nav-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 15px;
  align-items: center;
  height: fit-content;
  background-color: var(--primary-color);
  text-align: center;
}

.logo {
  grid-column: 2;
  padding: 20px 0;
}

#logo a {
  font-family: var(--title-font);
  font-size: 1.5rem;
}

.nav-container a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: 400;
}

.nav-link {
  font-size: 1rem;
}

.nav-home {
  grid-column: 6;
}

.nav-book {
  grid-column: 7;
}

.nav-restaurant {
  grid-column: 8;
}

.nav-about {
  grid-column: 9;
}

.nav-contact {
  grid-column: 10;
}

.nav-link:hover {
  color: var(--quarternary-color);
}

/* Home Hero Section */
#home-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-image: url(./images/hotel-lobby.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  background-color: var(--secondary-color);
  height: fit-content;
  width: fit-content;
  border: var(--tertiary-color) solid 2px;
  border-radius: 10px;
  justify-content: center;
}

.hero-text h2 {
  font-size: 1.8rem;
  color: var(--tertiary-color);
  font-weight: 100;
  padding: 10px 15px;
}

.book-btn {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: var(--tertiary-color) solid 2px;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
  padding: 10px;
}

/* Home Rooms Section */
.room-boxes {
  padding: 20px o;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto;
  grid-template-rows: auto auto auto;
  column-gap: 2vw;
  justify-content: space-around;
  background-color: var(--quintery-color);
  height: max-content;
}

.room-image {
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding: 5px;
}

#room-type-one {
  grid-column: 2;
}

#room-type-two {
  grid-column: 3;
}

#room-type-three {
  grid-column: 4;
}

.room-heading {
  font-weight: 600;
  font-size: 1.2rem;
}

.room-type {
  margin: 2vh 0;
  padding: 10px;
  background-color: var(--tertiary-color);
  text-align: center;
  color: var(--secondary-color);
  border-radius: 10px;
  height: 400px;
}

.detail {
  font-weight: 600;
}

.room-text {
  font-size: 0.8rem;
  line-height: 1.4em;
}

/* Home Page Info Section */
#home-page-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #d17547;
  color: var(--tertiary-color);
  height: fit-content;
}

#home-page-info h4 {
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 25px;
}

.stay-image {
  background-image: url(./images/conservatory-one.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.restaurant-image {
  background-image: url(./images/food-six.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.stay-text,
.restaurant-text {
  text-align: center;
  padding: 25px;
  font-weight: 200;
}

.read-more {
  margin-top: 50px;
}

.stay-btn,
.restaurant-btn {
  text-decoration: none;
  color: var(--tertiary-color);
  padding: 10px 5px;
  border: var(--tertiary-color) solid 2px;
  border-radius: 5px;
}

/* Home Amenities */

.highlight-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: fit-content;
}

.highlight-text {
  width: 33.33vw;
  padding-top: 20px;
}

.gym,
.parking,
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 10px;
  font-size: 1rem;
}

.gym,
.parking {
  background-color: var(--quintery-color);
  color: var(--quarternary-color);
}

.gym i,
.parking i,
.location i {
  padding: 25px;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
  grid-template-rows: repeat(2);
  gap: 15px;
  background-color: var(--primary-color);
  font-family: var(--main-font);
  color: var(--tertiary-color);
  line-height: 1.7em;
  font-size: 0.8rem;
  padding: 10px;
}

.quick-links {
  grid-column: 2;
}

.quick-links a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.quick-links a:hover {
  color: var(--quarternary-color);
}

.contact-footer {
  grid-column: 3;
}

.address-footer {
  grid-column: 4;
}

.name {
  grid-column: 2 / span 3;
  grid-row: 2;
  text-align: center;
  padding-bottom: 10px;
  border-top: var(--tertiary-color) 2px solid;
}

.q-1,
.q-2 {
  display: inline-block;
  justify-content: start;
}

.q-3,
.q-4 {
  display: inline-block;
  justify-content: start;
}

.q-1,
.q-3 {
  padding-right: 5px;
}
